<template>
    <li>
        {{ post.name }}
    </li>
</template>

<script>
    export default {
        props: {
            post: {
                type: Object,
                required: true
            }
        }
    }
</script>