<template>
    <li @click="onClick">
        {{ user.name }}
    </li>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        methods: {
            onClick: function () {
                this.$emit('userOnClick', this.user.id);
            }
        }
    }
</script>