<template>
    <div id="post-component">
        <UserVerticalList @userOnClick="userOnClick"
                v-for="user in usersList()"
                :key="'user-' + user.id"
                :user="user"
        />
        <PostElement v-for="post in postsToView"
                :key="'post-' + post.id"
                :post="post"
        />
    </div>
</template>

<script>
    import PostElement from './components/post/PostElement'
    import UserVerticalList from './components/user/UserVerticalList'

    export default {
        props: ['posts', 'users'],
        components: {
            PostElement,
            UserVerticalList
        },
        data() {
            return {
                allPosts: [],
                postsToView: [],
            }
        },
        created: function () {
            this.allPosts = JSON.parse(this.$props.posts);
            this.postsToView = JSON.parse(this.$props.posts);
        },
        methods: {
            usersList: function () {
                return JSON.parse(this.$props.users);
            },
            userOnClick: function (id) {
                console.log(id);
                this.postsToView = this.allPosts.filter(function(item) {

                    console.log(item.id);
                    return item.user === id;
                });
            }
        }
    }
</script>

<style lang="scss">
    @import '../scss/includes/post';

    *, *::before, *::after {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }
</style>