<template>
    <div id="post-component">
        <h1>My Todo App! </h1>
<!--        <PostElement v-for="post in postsList()"-->
<!--                :key="post.id"-->
<!--                :post="post"-->
<!--        />-->
        <UserVerticalList v-for="user in usersList()"
                     :key="user.id"
                     :user="user"
        />
    </div>
</template>

<script>
    import PostElement from './components/post/PostElement'
    import UserVerticalList from './components/user/UserVerticalList'

    export default {
        props: ['posts', 'users'],
        components: {
            PostElement,
            UserVerticalList
        },
        created: function () {
            // `this` указывает на экземпляр vm
            console.log(JSON.parse(this.$props.users))
        },
        methods: {
            postsList: function () {
                return JSON.parse(this.$props.posts);
            },
            usersList: function () {
                return JSON.parse(this.$props.users);
            }
        }
    }
</script>

<style lang="scss">
    @import '../scss/includes/post';

    *, *::before, *::after {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
    }
</style>